<html>
<head>
<title>	print me!</title>
 <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://fonts.xz.style/serve/inter.css">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@exampledev/new.css@1.1.2/new.min.css">
	<link rel="stylesheet" href="style.css">
	<link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
	<script  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>


</head>

<body>
<div id="pppconvert" v-cloak>		
	<header>
		<a href="#" @click="lang = 'es'"><span :class="{'bold': lang == 'es'}">ES</span></a> | 
		<a href="#" @click="lang = 'en'"><span :class="{'bold': lang == 'en'}">EN</span></a>
		<div >
			<div class="col-md-6">
				<h1>{{ i18n.imgointoprint }}</h1>
				<p>{{ i18n.whatresolution }}</p>
			</div>
		</div>
	</header>

	<form>
		<div class="container">
			<div class="flex-row">
				<div>
					<label for="format"><i class="lar la-file"></i> <b>{{ i18n.format }}</b><br></label>
						<select name="format" id="format" v-model="format" @change="updateppp();calculatepx();calculatemm();">
							<option value="300" selected>{{ i18n.magazine }} </option>
							<option value="150">{{ i18n.newspaper }} </option>
							<option value="72">{{ i18n.homeprinting }} </option>
							<option value="96">{{ i18n.screen }} </option>
							<option value="other">{{ i18n.other }}</option>
						</select>
				</div>
				<div>
					<label for="ppp"><i class="las la-eye"></i> <b>{{ i18n.resolution }}</b><br>
						<input type="number" id="ppp" v-model="ppp" @change="updateformat();calculatepx();calculatemm();"> ppp
					</label>
				</div>
			</div>
			<hr>
			<div class="flex-row">
				<div id="pxinput">
					<div class="wrapper">
						<h4>{{ i18n.mypicturehas }}</h4>
						<div><label>{{ i18n.width }}<br>
							<input type="number" id="pxX" name="pxX" v-model="pxx" @change="calculatemm()"> px</label>
						</div>
						<div><label>{{ i18n.height }}<br>
							<input type="number" id="pxY" name="pxY" v-model="pxy" @change="calculatemm()"> px</label>
						</div>
						<div id="uploadfiles" class="wrapper">
              <div @drop="selectedFile">
                <label for="myFile" class="custom-drop upload-box" :class="{'border-success': imageLoaded}">
                  <span v-if="!imageLoaded">Drag and drop your image here<br></span>
                  <i v-if="!imageLoaded" class="las la-image la-6x" style="color:var(--nc-ac-1)"></i>
                  <img v-if="imageLoaded" alt="" :src="image.src">
                  <input type="file" name="myFile" id="myFile" ref="myFile" @change="selectedFile" accept="image/*"/>
                </label>
                <br>
                </div>
                 <div v-if="imageLoaded">
                    Image is: {{image.width}}px &times; {{image.height}}px
                </div>
            </div>
					</div>
				</div>
        <div class="arrow w-auto">➽</div>
				<div id="mminput">
  					<div class="wrapper">
  						<h4>{{ i18n.itrealsizewillbe }}</h4>
  						<div><label for="mmX">{{ i18n.width }}<br>
  							<input type="number" id="mmX" v-model="mmx" @change="calculatepx()"> cm.
  						</label></div>
  						<div><label for="mmY">{{ i18n.height }}<br>
  							<input type="number" id="mmY" v-model="mmy" @change="calculatepx()"> cm.
  						</label>
  						</div>
  						<div>
  		            <i class="las la-ruler-combined la-6x greenish"></i>
  		        </div>
            </div>
				</div>
			</div>
		</div>
    

      
    <!-- <ul v-if="this.filelist.length" v-cloak>
      <li v-for="file in filelist">
        ${ file.name }<button type="button" @click="remove(filelist.indexOf(file))" title="Remove file">remove</button>
      </li>
    </ul> -->
  </div>
	</form>
</div>

</div>


<footer>
<hr>
<p>Coded with <i class="la la-heart" style="color:coral"></i> and Vue.js by <a href="https://pablosanruiz.es">pablosanruiz</a></p>  
</footer>

<script>

let app = new Vue({
	el: '#pppconvert',
	data: {
		lang: 'es',
		i18n: [],
		format:300,
		ppp:300,
		pxx:0,
		pxy:0,
		mmx:0,
		mmy:0,
		commonppp: ['300','150','96','72'],
    image:{
      src:'',
      size:'',
      height:'',
      width:''
    },
    imageLoaded:false,
    filelist: []
	},
	methods: {
      updateppp: function(){
      	this.ppp = this.format
      },
      updateformat: function() {	
      	if (this.commonppp.includes(this.ppp)) {
      		this.format = this.ppp
      	} else {
      		this.format = 'other'
      	}
      },
      calculatemm: function() {
      	this.mmx = (this.pxx*2.54)/this.ppp
        this.mmx = Number((this.mmx).toFixed(2)); //redondeamos
      	this.mmy = (this.pxy*2.54)/this.ppp 	
        this.mmy = Number((this.mmy).toFixed(2)); //redondeamos
      },
      calculatepx: function() {
        this.pxx = (this.mmx*this.ppp)/2.54
        this.pxx = Number((this.pxx).toFixed(2)); //redondeamos
        this.pxy = (this.mmy*this.ppp)/2.54
        this.pxy = Number((this.pxy).toFixed(2)); //redondeamos
      },
      selectedFile: function() {
        this.imageLoaded = false;
        
        let file = this.$refs.myFile.files[0];
        if(!file || file.type.indexOf('image/') !== 0) return;
        
        this.image.size = file.size;
        
        let reader = new FileReader();
        
        reader.readAsDataURL(file);
        reader.onload = evt => {
          let img = new Image();
          //console.log(img);

          img.onload = () => {
            this.image.src = img.src;
            this.image.width = img.width;
            this.image.height = img.height;
            this.pxx = img.width;
            this.pxy = img.height;
            this.calculatemm();
            this.imageLoaded = true;
          }
          img.src = evt.target.result;
          //this.image.src = img.src;
          //console.log(img.src);
        }
        reader.onerror = evt => {
          console.error(evt);
        }   
      },
      
  	},
	watch: {
		lang: function() {
		  axios.get('i18n/' + this.lang + '.json').then(response => (this.i18n = response.data))
    }
	 },
	mounted() {
        axios.get('i18n/' + this.lang + '.json').then(response => (this.i18n = response.data));
	}

});

</script>


</body>
</html>
