:root {
	--nc-ac-1: #00ecb8;
}
h1,h2,h3 {
	border-bottom:0;
}
input,select,area{
    background: white;
	color: var(--nc-tx-2);
	border: 3px solid var(--nc-bg-3);
}

header:before {content: '';background: linear-gradient(transparent, rgb(0 0 0 / 70%));width: 100%;height: 300px;position: absolute;left: 0;bottom: 0;z-index: -1;}

header {
    background:url(gutenberg-bg.jpg);
    background-position:center 20%;
    background-size:cover;
    height:300px;
    position: relative;
    z-index: 0;
}

header a {
    color:white;
	text-decoration:none;
}
header h1 {
    color:white;
    font-size: 3.5em;
}
header p {
    color:white;
    font-size: 22px;
}

header > div {
    display: flex;
    align-items: flex-end;
    align-self: end;
    height: 100%;
}

.flex-row {
    display: flex;
    flex-flow: row;
    gap:15px;
}

.flex-row div {
    width:100%;
}

.bold {
    font-weight: 800;
}
.greenish {
    color:var(--nc-ac-1);
}
span.icon {
    font-family:'Line Awesome';
}
#pxinput {
    width:100%;
    position:relative;
    border-radius:10px;
    box-shadow: 1px 1px 10px #a7a7a7;
}
#pxinput:after {
    content:'➽';
    top:50%;
    transform:translateY(-70%);
    right:-.65em;
    position:absolute;
    font-size:96px;
    color:var(--nc-ac-1);
    text-shadow:-3px 3px 0px rgb(79 236 184 / 40%);
}

#mminput {
    position:relative;
    box-shadow: 1px 1px 10px #a7a7a7;
    border-radius:10px;
/*    padding:1.5em 1em 2.5em;
*/    width:100%;
    
}

.upload-box {
    border: 4px dashed rgb(204, 204, 204);
    border-radius: 10px;
    padding: 1em;
    margin-bottom: 1.3em;
    margin-top: 2em;
    margin-left: -1em;
    width: calc(100% - 3em);
}

.listed-file {
list-style-type:none;
padding:0;
}

.listed-file li {
    text-decoration:underline;
}

.listed-file li:before {
    content: '\f1c5';
    font-family: 'Line Awesome Free';
    font-weight: 900;
}


hr {
    margin-top:2em;
}

@media (max-width:768px) {
	.flex-row {
	    display:flex;
	    flex-flow:column;
	    justify-content:flex-start;
	    align-items:flex-start
	}
    #pxinput {
        margin-bottom: 4.5em;
    }
    #pxinput:after {
        content: '➽';
        top: calc(100% + .5em);
        transform: rotate(45deg);
        transform: translate(-50%) rotate(90deg);
        left: 50%;
        position: absolute;
        font-size: 96px;
        color: var(--nc-ac-1);
        text-shadow: -3px 3px 0px rgb(79 236 184 / 40%);
        }
    }
